services:
  backend:
    image: backend
    container_name: backend
    pull_policy: never
    build: ./django
    ports:
      - "8000:8000"
    networks:
      - postgresdb_network
    depends_on:
      db:
        condition: service_healthy
    tty: true
    init: true
    restart: always
    volumes:
      - ./django:/server
  jwt:
    image: jwt
    container_name: jwt
    pull_policy: never
    build: ./jwt
    ports:
      - "8100:8100"
    networks:
      - postgresdb_network
    depends_on:
      db:
        condition: service_healthy
    tty: true
    init: true
    restart: always
    volumes:
      - ./jwt:/server
  db:
    image: postgres:17.1-alpine3.20
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - postgresdb_network
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 30s
      timeout: 10s
      retries: 5
  prometheus:
    build: ./prometheus
    volumes:
      - ./prometheus/config:/etc/prometheus
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"

networks:
  postgresdb_network:
    driver: bridge

volumes:
  prometheus-data:
  postgresql-data:
